.cor-de-fundo{
    background-color: #EEF9BF;
}

.caixa-titulo{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonte-titulo{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.container{
    display: flex;
    justify-content: center;
}

.mesa-cartas{
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.carta{
    width: 117px;
    height: 146px;
    margin: 20px 20px;
    display: flex;
    position: relative;
}

.lado-da-carta{
    height: 100%;
    width: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.frente {
    transform: rotateY(180deg);
  }

  .carta:active .frente {
    transform: rotateY(0deg);
  }

  .carta:active .costa {
    transform: rotateY(-180deg);
  }

.img-carta{
    width: 100px;
    height: 100px;
}

.escondido{
    display: flex;
}

@media only screen and (max-width:  614px){
    .mesa-cartas{
        width: 117px;
        display: block;
    }

    .fonte-titulo{
        font-size: 36px;
        line-height: 42px;
    }
}